@font-face {
  font-family: "Ruberoid-Bold";
  src: url("../fonts/Ruberoid-Bold.woff2");
}

/* ::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  background: var(--body-bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-bg-color);
}


::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bg-hover-color);
} */

:root {
  --bg-body-color: white;
  --all-body-title: #01353e;

  --sun-img: url(../img/sun_white.png);
  --home-bg: url(../img/Bg-home.png);
  --home-title-color: #0d302c;
  --home-title-color2: black;
  --about-desc-color: #242121;
  --services-bg-color: #f8f8f8;
  --gallery-title-color: #242121;
  --btn-bg-style: #ffff;
  --btn-color: #242121;
  --quote-bg: #f8f8f8;
  --quote-text-color: #242121;
  --service-bg-img: url(../img/services-img.png);
  --scrore-number-tourists-text-color: #01353e;
  --our-command-color-text: #242121;
  --card-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --contact-bg-color-right-block: #f8f8f8;
  --contact-color-right-block: black;
  --footer-bg: #00b2a0;
}

:root[data-theme="dark"] {
  --all-body-title: white;
  --sun-img: url(../img/moon.png);
  --home-bg: url(../img/home-bg-black.png);
  --home-title-color: white;
  --home-title-color2: white;
  --bg-body-color: #020910;
  --about-desc-color: #d5e1e3;
  --services-bg-color: #020910;
  --gallery-title-color: white;
  --btn-color: white;
  --btn-bg-style: ;
  --quote-bg: #000a14;
  --quote-text-color: white;
  --service-bg-img: url(../img/servivce-img-black.png);
  --scrore-number-tourists-text-color: white;
  --our-command-color-text: white;
  --card-box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(131, 131, 131, 0.19);
  --contact-bg-color-right-block: #0d141c;
  --contact-color-right-block: white;

  --footer-bg: #0d141c;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Inter', sans-serif; */
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: var(--bg-body-color);
}

#container {
  max-width: 1920px;
  margin: 0 auto;
}

/* Start Home */

#home {
  min-height: 1090px;

  background: var(--home-bg) rgba(0, 0, 0, 0.19);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 955px;
  margin: 0 auto;
  padding-top: 35px;
}

.logo {
  cursor: pointer;
}

header ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

header ul li {
  list-style: none;
  cursor: pointer;
}

header ul li a {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  list-style: none;
  text-decoration: none;
  color: #ffffff;

  transition: all 0.2s ease-in-out;
}

.sun {
  background-image: var(--sun-img);
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;

  transition: all 0.4s ease-in-out;
}

header ul li a:hover {
  border-bottom: 1px solid #00b2a0;
}

.home_body {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home_body h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 235px;
  color: var(--home-title-color);

  transition: color 1s ease-in-out;

  animation-duration: 3s;
  animation-name: slidein;
}
.home_body p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--home-title-color2);

  transition: color 1s ease-in-out;

  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.home_btn_icon {
  position: absolute;
  left: 50%;
  bottom: 3%;
  transform: translate(-50%, -50%);
}
/* End home */

/* Start About */

#about {
  /* max-width: 1080px;
  margin: 0 auto; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 966px;
}

.about_title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;

  color: var(--all-body-title);
  margin-bottom: 96px;
}

.about_body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8vw;
}

.about_desc {
  width: 480px;
}

.about_desc p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  color: var(--about-desc-color);
  margin-bottom: 30px;
}

/* End About */

/* Start About */

#services {
  background-color: var(--services-bg-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 966px;
}

.services_service {
  display: flex;
  align-items: center;
  gap: 74px;

  margin-bottom: 102px;

  color: var(--about-desc-color);
}

.services_item {
  max-width: 350px;
}

.services_item img {
  cursor: pointer;
}

.item_head {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 19px;
}

.head_title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
}

.head_desc {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.title2 {
  width: 124px;
  line-height: 28px;
}

.title3 {
  width: 146px;
  line-height: 28px;
}

.service_bg {
  background-image: var(--service-bg-img);
  background-position: center;
  background-repeat: no-repeat;
  width: 346px;
  height: 149px;
}

.service_desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 254px;
  color: var(--about-desc-color);
}

.service_desc p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  max-width: 600px;
  margin-bottom: 30px;
}

/* End About */

/* Start Costs */

#costs {
  min-height: 1050px;
  position: relative;
}

.costs_body {
  /* min-height: 966px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.costs_block_1 {
  max-width: 510px;
  margin: 2vw 2vw 0 10vw;
}

.costs_block_desc p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
  color: var(--about-desc-color);
}

.costs_bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  /* width: 50vw; */
}

.costs_bg img {
}

/* End Costs */

/* Start Gallery---------------------- */

#gallery {
  min-height: 1262px;
}

.about_title {
  text-align: center;
}

.gallery {
  /* max-width: 1080px;
  margin: 0 auto; */

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  position: relative;
  min-height: 793px;
  width: 1200px;
  margin: 0 auto;
}

.gallery_titles {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin-left: 0.7rem;
}

.gallery_titles p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;

  margin-bottom: 50px;
  color: var(--gallery-title-color);

  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.gallery_titles p:hover {
  color: #00b2a0;
}

.gallery_galleries {
}

.btn_show_more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.btn_show_more_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.gallery_btn_show_more,
.gallery_btn_show_more_hidden {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;

  width: 350px;
  height: 70px;
  margin-top: 50px;

  background: var(--btn-bg-style);
  border: 1px solid #c4c4c4;
  color: var(--btn-color);
  transition: all 0.5s ease-in-out;
}

.gallery_btn_show_more:hover {
  background: #00b2a0;
  color: white;
}

.gallery_btn_show_more_hidden:hover {
  background: #00b2a0;
  color: white;
}

.gallerry_images {
}

.gallery_item {
  transition: all .3s ease-in-out;
}

.gallery_item:hover {
  transform: scale(1.2);
}

img {
  max-width: 100%;
  height: auto;
}

.gallery_item {
  height: auto;
  margin: 0.5rem;
}

.gallery_item_2 {
  height: auto;
  margin: 0.5rem;
}

.gallery_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery_item_2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 640px) {
  .gallerry_images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-auto-flow: row dense;

    transition: all 0.5s ease-in-out;
  }

  .gallery_item {
    margin: 0.7rem;
  }

  .gallery_item:first-child {
    grid-row: span 1;
  }

  .gallery_item:nth-child(2) {
    grid-column: 2/3;
    grid-row: span 2;
  }

  .gallery_item:nth-child(6),
  .gallery_item:nth-child(8) {
    grid-row: span 2;
  }

  .gallerry_images_2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-auto-flow: row dense;
  }

  .gallery_item_2 {
    margin: 0.7rem;
  }

  .gallery_item_2:first-child {
    grid-row: span 1;
  }

  .gallery_item_2:nth-child(2) {
    grid-column: 2/3;
    grid-row: span 2;
  }

  .gallery_item_2:nth-child(6),
  .gallery_item_2:nth-child(8) {
    grid-row: span 2;
  }
}

@media (max-width: 960px) {
  .gallerry {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto-flow);
    grid-auto-flow: row dense;
  }

  .gallery_item:nth-child(2) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .gallery_item:first-child,
  .gallery_item:nth-child(7),
  .gallery_item:nth-child(8) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .gallery_item_2:nth-child(2) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .gallery_item_2:first-child,
  .gallery_item_2:nth-child(7),
  .gallery_item_2:nth-child(8) {
    grid-column: span 2;
    grid-row: span 1;
  }
}

/* End Gallery---------------------- */

/* Start Quote---------------------- */

#quote {
  background: var(--quote-bg);
}

.quote_texts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.quote_text {
  position: relative;
  width: 772px;
}

.quote_text h1 {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.6px;

  color: var(--quote-text-color);
}

.quote_text p {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: 0.6px;
  text-align: right;
  color: var(--quote-text-color);
}

/* End Quote---------------------- */

/* Start Video---------------------- */

#video {
  min-height: 1003px;
  position: relative;
  /* position: relative;
  display: inline-block; */
}

.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 800px;
  margin: 0 auto;
}

.video-thumbnail {
  width: 100%;
  height: 100%;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 60px;
  border-radius: 50%;
  /* background: rgba(255, 255, 255, 0.8); */
  cursor: pointer;
  transition: all 0.3s ease;
}

/* .play-button:hover {
  background: rgba(255, 255, 255, 1);
} */

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* End Video---------------------- */

/* Start score---------------------- */

.score_body {
  min-height: 296px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.scrore_number_tourists h1 {
  color: var(--scrore-number-tourists-text-color);

  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
}

.scrore_number_tourists p {
  color: var(--scrore-number-tourists-text-color);

  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

@property --num1 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.score_title1 {
  animation: counter1 6s infinite ease-in-out;
  counter-reset: num var(--num1);
}
.score_title1::after {
  content: counter(num);
}

.score_title1:hover {
  --num1: 450;
}

@keyframes counter1 {
  from {
    --num1: 0;
  }
  to {
    --num1: 450;
  }
}

@property --num2 {
  syntax: "<integer>";
  initial-value: 2500;
  inherits: false;
}

.score_title2 {
  animation: counter2 6s infinite ease-in-out;
  counter-reset: num2 var(--num2);
}
.score_title2::after {
  content: counter(num2);
}

@keyframes counter2 {
  from {
    --num2: 0;
  }
  to {
    --num2: 2500;
  }
}

@property --num3 {
  syntax: "<integer>";
  initial-value: 10;
  inherits: false;
}

.score_title3 {
  animation: counter3 6s infinite ease-in-out;
  counter-reset: num3 var(--num3);
}
.score_title3::after {
  content: counter(num3);
}

@keyframes counter3 {
  from {
    --num3: 0;
  }
  to {
    --num3: 10;
  }
}

@property --num4 {
  syntax: "<integer>";
  initial-value: 365;
  inherits: false;
}

.score_title4 {
  animation: counter4 6s infinite ease-in-out;
  counter-reset: num4 var(--num4);
}
.score_title4::after {
  content: counter(num4);
}

@keyframes counter4 {
  from {
    --num4: 0;
  }
  to {
    --num4: 365;
  }
}

/* End score---------------------- */

/* Start Blog---------------------- */
#blog {
  min-height: 1285px;
  position: relative;
}

.blog_body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 1280px;
}

.swiper {
  width: 100%;
  max-height: 800px;
}

.swiper-slide {
  position: relative;
}

.swiper-slide .title {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.swiper-slide h1 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
}

.swiper-slide p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.swiper-slide {
  max-height: 800px !important;
}

/* End Blog---------------------- */

/* Start Team---------------------- */

/* #our_team{
  min-height: 987px;
} */

.team_body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 987px;
  width: 1200px;
  margin: 0 auto;
}

.team_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8vw;
}

.cards_card {
  margin-top: 20px;

  transition: all 0.5s ease-in-out;
}

.cards_card:hover {
  transform: scale(1.05);
  box-shadow: var(--card-box-shadow);
}

.cards_card img {
  width: 330px;
  height: 450px;
  margin-bottom: 25px;
}

.cards_card h3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: var(--our-command-color-text);
}

.cards_card p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--our-command-color-text);
  margin-top: 5px;
  margin-bottom: 10px;
}
.card_two {
  margin-top: 0px;
}

/* End Team---------------------- */
/* Start Services---------------------- */

#package_services {
  background-color: var(--services-bg-color);
}

.package_services_title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: var(--all-body-title);
  margin-bottom: 212px;

  text-align: center;
}

.body_package_services {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 1245px;
}

.services_package_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.package_services_card {
  width: 360px;
  height: 577px;
  padding: 45px 42px;
  background-color: #ffffff;
  cursor: pointer;

  transition: all 0.5s ease-in-out;
}

.package_services_card:hover {
  transform: scale(1.05);
  box-shadow: var(--card-box-shadow);
}

.package_service_title_card {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  color: var();
  text-align: center;
  margin-bottom: 58px;
}

.package_card_desc {
  margin-bottom: 137px;
}

.package_card_desc p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #242121;
  margin-bottom: 20px;
}

.package_card_price {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #01353e;
}

.package_card_two_desc,
.package_card_desc_profes {
  margin-bottom: 60px;
}

/* End Services---------------------- */

/* Start Map---------------------- */

.map_body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1040px;
}

/* End Map---------------------- */

/* Start Contact---------------------- */

#contact {
  min-height: 1182px;
  position: relative;
}

.contact_body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}

form {
  max-width: 570px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: start;
}

form input {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  width: 100%;
  height: 38px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #dadada;
  background-color: transparent;

  margin-bottom: 32px;
  color: #00b2a0;
  padding: 5px;
}

form input:focus {
  outline: none;
}

form input[type="tel"] {
  margin-bottom: 53px;
}

form textarea {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #dadada;
  resize: none;
  width: 100%;
  height: 156px;
  padding: 5px;
  color: #00b2a0;

  background-color: transparent;
}

form textarea:focus {
  outline: none;
}

.contact_block_right {
  width: 600px;
  height: auto;
  background: var(--contact-bg-color-right-block);

  padding: 49px 0 71px 52px;
}

.block_right_desc {
  margin-bottom: 65px;
  color: var(--contact-color-right-block);
}

.contat_socials {
  position: absolute;
  bottom: 30%;
}

.contat_socials ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  list-style: none;
}

.contat_socials ul > li a {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;

  text-decoration: none;
  color: var(--home-title-color);
  transition: all 0.5s ease-in-out;
}

.contat_socials ul > li a:hover {
  color: #00b2a0;
}
/* End Contact---------------------- */

/* Start Footer---------------------- */

footer {
  background: var(--footer-bg);
}

.footer_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;

  cursor: pointer;
}

/* End Footer---------------------- */
