@font-face {
  font-family: "Ruberoid-Bold";
  src: url("../fonts/Ruberoid-Bold.woff2");
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}


::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #7c7c7c;
}


::-webkit-scrollbar-thumb:hover {
  background: #00b2a0;
}

:root {
  --bg-body-color: white;
  --all-body-title: #01353e;
  --card-bg-color: #1b1c20;
  --sun-img: url(../img/sun_white.png);
  --home-bg: url(../img/Bg-home.png);
  --home-title-color: #0d302c;
  --home-title-color2: black;
  --about-desc-color: #242121;
  --services-bg-color: #f8f8f8;
  --gallery-title-color: #242121;
  --btn-bg-style: #ffff;
  --btn-color: #242121;
  --quote-bg: #f8f8f8;
  --quote-text-color: #242121;
  --service-bg-img: url(../img/services-img.png);
  --scrore-number-tourists-text-color: #01353e;
  --our-command-color-text: #242121;
  --card-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --contact-bg-color-right-block: #f8f8f8;
  --contact-color-right-block: black;
  --footer-bg: #00b2a0;


  --bg-score-color: transparent;
  --bg-cards-card-color: #ffffff;
  --bg-color-cards-hover: transparent;
}

:root[data-theme="dark"] {
  --all-body-title: white;
  --sun-img: url(../img/moon.png);
  --home-bg: url(../img/home-bg-black.png);
  --home-title-color: white;
  --home-title-color2: white;
  --bg-body-color: #020910;
  --about-desc-color: #d5e1e3;
  --services-bg-color: #020910;
  --gallery-title-color: white;
  --btn-color: white;
  --btn-bg-style: ;
  --quote-bg: #000a14;
  --quote-text-color: white;
  --service-bg-img: url(../img/servivce-img-black.png);
  --scrore-number-tourists-text-color: white;
  --our-command-color-text: white;
  --card-box-shadow: 0 4px 8px 0 rgba(44, 44, 44, 0.5),
    0 6px 20px 0 rgba(49, 49, 49, 0.19);
  --contact-bg-color-right-block: #0d141c;
  --contact-color-right-block: white;

  --footer-bg: #0d141c;


  --bg-score-color: #000a14;
  --bg-cards-card-color: #000a14;
  --bg-color-cards-hover: #011830;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Inter', sans-serif; */
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: var(--bg-body-color);
}

#container {
  max-width: 1920px;
  margin: 0 auto;
}

/* Start Home */

#home {
  /* min-height: 1090px; */
  height: 75vh;
  background: var(--home-bg) rgba(0, 0, 0, 0.19);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0 15px 0 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 955px;
  margin: 0 auto;
  padding-top: 35px;
}

.logo {
  cursor: pointer;
}

header ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

header ul li {
  list-style: none;
  cursor: pointer;
}

header ul li a {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  list-style: none;
  text-decoration: none;
  color: #ffffff;

  transition: all 0.2s ease-in-out;
}

.sun {
  background-image: var(--sun-img);
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;

  transition: all 0.4s ease-in-out;
}

header ul li a:hover {
  border-bottom: 1px solid #00b2a0;
}

.home_body {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home_body h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 235px;
  color: var(--home-title-color);

  transition: color 1s ease-in-out;

  animation-duration: 3s;
  animation-name: slidein;
}
.home_body p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--home-title-color2);

  transition: color 1s ease-in-out;

  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.home_btn_icon {
  position: absolute;
  left: 50%;
  bottom: 3%;
  transform: translate(-50%, -50%);
}

.mob_header_links {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--card-bg-color);
  z-index: 3;
  display: none;
  /* transition: all 1s ease-in-out; */
}

.mob_header_links img {
  width: 30px;
  height: 30px;

  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

.mob_header_links ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  gap: 25px;
}

.mob_header_links ul li {
  list-style: none;
  cursor: pointer;
}

.mob_header_links ul li a {
  text-decoration: none;
  color: white;
  padding-bottom: 5px;

  transition: all 0.4s ease-in-out;
}

.mob_header_links ul li a:hover {
  /* filter: blur(10px); */
  /* transform: scale(1.1); */
  color: #00b2a0;
  border-bottom: 0.2px solid var(--home-txt-left);
}

.mob_social {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.mob_social img {
  position: inherit;
  width: 35px;
  height: 35px;
}
.row {
  display: none;
  color: white;
}
.hamburger .line {
  width: 40px;
  height: 3px;
  background-color: white;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger .is-active {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger .is-active .line:nth-child(2) {
  width: 0px;
}

#hamburger .is-active .line:nth-child(1),
#hamburger .is-active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#hamburger .is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger .is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

@media (max-width: 1280px) {
  #home {
    min-height: 100vh;
  }
}

@media (max-width: 1100px) {
  #home {
    min-height: 100vh;
  }

  header {
    max-width: 785px;
  }
  .logo {
    width: 55px;
  }
  header ul {
    gap: 25px;
  }

  header ul li a {
    font-size: 20px;
    line-height: 22px;
  }

  .home_body h1 {
    font-size: 175px;
    line-height: 150px;
  }
}

@media (max-width: 868px) {
  header {
    max-width: 700px;
  }

  .logo {
    width: 50px;
  }

  header ul {
    gap: 20px;
  }

  .home_body h1 {
    font-size: 165px;
    line-height: 140px;
  }
}

@media (max-width: 768px) {
  #home {
    min-height: 100vh;
  }
  header {
    max-width: 575px;
  }

  .logo {
    width: 100%;
  }

  .header_head,
  .sun {
    display: none;
  }

  ul > .sun {
    display: block;
  }

  .hamburger .line {
    width: 30px;
  }

  .mob_header_links img {
    width: 30px;
    height: 30px;
  }

  .row {
    display: block;
  }

  .home_body h1 {
    font-size: 160px;
    line-height: 135px;
  }
}

@media (max-width: 620px) {
  /* header{
    padding: 35px 10px 0  10px;
  } */

  header {
    max-width: 575px;
  }

  .logo {
    width: 100%;
  }

  .header_head,
  .sun {
    display: none;
  }

  .hamburger .line {
    width: 30px;
  }

  .mob_header_links img {
    width: 30px;
    height: 30px;
  }

  .row {
    display: block;
  }

  .home_body h1 {
    font-size: 25vw;
    line-height: 20vw;
  }

  .home_body p {
    font-size: 4vw;
  }
}

@media (max-width: 468px) {
  #home {
    min-height: 100vh;
  }
}

/* End home */

/* Start About */

#about {
  /* max-width: 1080px;
  margin: 0 auto; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 966px;
  padding: 0 15px 0 15px;
}

.about_title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;

  color: var(--all-body-title);
  margin-bottom: 96px;
  padding: 0 5px 0 5px;
}

.about_body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8vw;
}

.about_desc {
  max-width: 480px;
}

.about_desc p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  color: var(--about-desc-color);
  margin-bottom: 30px;
}

@media (max-width: 1100px) {
  .about_body {
    gap: 6vw;
  }
}

@media (max-width: 912px) {
  .about_title {
    font-size: 42px;
    line-height: 50px;
  }
}
@media (max-width: 820px) {
  .about_title {
    font-size: 38px;
    line-height: 30px;
  }
}

@media (max-width: 760px) {
  #about {
    padding: 8vh 0 8vh 0;
  }

  .about_body {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .about_title {
    margin-bottom: 50px;
    font-size: 38px;
    line-height: 45px;
  }

  .about_desc {
    max-width: 80vw;
  }
}

@media (max-width: 540px) {
  .about_title {
    margin-bottom: 45px;
    font-size: 32px;
    line-height: 38px;
  }
  .about_body {
    gap: 10vw;
  }
  .about_desc {
    max-width: 85vw;
  }
  .about_desc p {
    margin-bottom: 20px;
  }
}

@media (max-width: 393px) {
  .about_title {
    /* margin-bottom: 30px; */
    font-size: 28px;
    line-height: 32px;
  }
}

/* End About */

/* Start About */

#services {
  background-color: var(--services-bg-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 966px;
  padding: 0 15px 0 15px;
}

.services_service {
  display: flex;
  align-items: center;
  gap: 74px;

  margin-bottom: 102px;

  color: var(--about-desc-color);
}

.services_item {
  max-width: 350px;
}

.services_item img {
  cursor: pointer;
}

.item_head {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 19px;
}

.head_title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
}

.head_desc {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.title2 {
  width: 124px;
  line-height: 28px;
}

.title3 {
  width: 146px;
  line-height: 28px;
}

.service_bg {
  background-image: var(--service-bg-img);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 346px;
  height: 149px;
}

.service_desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 254px;
  color: var(--about-desc-color);
}

.service_desc p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  max-width: 600px;
  margin-bottom: 30px;
}

@media (max-width: 1250px) {
  .services_service {
    gap: 50px;
  }

  .service_desc {
    gap: 85px;
  }
}

@media (max-width: 1120px) {
  .services_service {
    gap: 50px;
  }

  .service_desc {
    gap: 114px;
  }
}

@media (max-width: 1100px) {
  #services {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .services_service {
    gap: 50px;
  }

  .service_desc {
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .services_service {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .service_desc {
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;

    gap: 15px;
  }
}
/* End About */

/* Start Costs */

#costs {
  min-height: 1050px;
  position: relative;
}

.costs_body {
  /* min-height: 966px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.costs_block_1 {
  max-width: 530px;
  margin: 2vw 2vw 0 10vw;
}

.costs_block_desc p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
  color: var(--about-desc-color);
}

.costs_bg {
  max-width: 960px;
  min-width: 750px;
}

.costs_bg img {
}

@media (max-width: 1500px) {
  .costs_block_1 {
    margin: 2vw 2vw 0 2vw;
  }

  .costs_body {
    align-items: flex-start;
  }

  .costs_title {
    font-size: 40px;
  }
}

@media (max-width: 1240px) {
  .costs_title {
    font-size: 3vw;
    line-height: 42px;
    margin-bottom: 50px;
  }

  .costs_bg {
    min-width: 710px;
  }
}

@media (max-width: 1160px) {
  .costs_bg {
    min-width: 580px;
  }
}

@media (max-width: 1100px) {
  .costs_body {
    align-items: center;
    height: 850px;
  }
}

@media (max-width: 960px) {
  .costs_bg {
    min-width: 500px;
  }
}

@media (max-width: 878px) {
  #costs {
    min-height: auto;
  }

  .costs_bg {
    display: none;
  }

  .costs_body {
    justify-content: center;
  }

  .costs_title {
    font-size: 38px;
    line-height: 42px;
  }
}

@media (max-width: 468px) {
  .costs_title {
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 45px;
  }
}

/* End Costs */

/* Start Gallery---------------------- */

#gallery {
  min-height: 1262px;
}

.about_title {
  text-align: center;
}

.gallery {
  /* max-width: 1080px;
  margin: 0 auto; */

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  position: relative;
  min-height: 793px;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery_titles {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin-left: 0.7rem;
}

.gallery_titles p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;

  margin-bottom: 50px;
  color: var(--gallery-title-color);

  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.gallery_titles p:hover {
  color: #00b2a0;
}

.gallery_galleries {
}

.btn_show_more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.btn_show_more_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.gallery_btn_show_more,
.gallery_btn_show_more_hidden {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;

  width: 350px;
  height: 70px;
  margin-top: 50px;

  background: var(--btn-bg-style);
  border: 1px solid #c4c4c4;
  color: var(--btn-color);
  transition: all 0.5s ease-in-out;
}

.gallery_btn_show_more:hover {
  background: #00b2a0;
  color: white;
}

.gallery_btn_show_more_hidden:hover {
  background: #00b2a0;
  color: white;
}

.gallerry_images {
}

.gallery_item {
  transition: all 0.3s ease-in-out;
}

.gallery_item:hover {
  transform: scale(1.05);
}

img {
  max-width: 100%;
  height: auto;
}

.gallery_item {
  height: auto;
  margin: 0.5rem;
}

.gallery_item_2 {
  height: auto;
  margin: 0.5rem;
}

.gallery_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery_item_2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 960px) {
  .gallerry {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto-flow);
    grid-auto-flow: row dense;
  }

  .gallery_item:nth-child(2) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .gallery_item:first-child,
  .gallery_item:nth-child(7),
  .gallery_item:nth-child(8) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .gallery_item_2:nth-child(2) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .gallery_item_2:first-child,
  .gallery_item_2:nth-child(7),
  .gallery_item_2:nth-child(8) {
    grid-column: span 2;
    grid-row: span 1;
  }
}

@media (max-width: 678px) {
  .gallery_titles p {
    line-height: 18px;
    margin-bottom: 20px;
  }

  .gallery_item:hover {
    transform: scale(1.02);
  }
}

@media (min-width: 640px) {
  .gallerry_images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-auto-flow: row dense;

    transition: all 0.5s ease-in-out;
  }

  .gallery_item {
    margin: 0.7rem;
  }

  .gallery_item:first-child {
    grid-row: span 1;
  }

  .gallery_item:nth-child(2) {
    grid-column: 2/3;
    grid-row: span 2;
  }

  .gallery_item:nth-child(6),
  .gallery_item:nth-child(8) {
    grid-row: span 2;
  }

  .gallerry_images_2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-auto-flow: row dense;
  }

  .gallery_item_2 {
    margin: 0.7rem;
  }

  .gallery_item_2:first-child {
    grid-row: span 1;
  }

  .gallery_item_2:nth-child(2) {
    grid-column: 2/3;
    grid-row: span 2;
  }

  .gallery_item_2:nth-child(6),
  .gallery_item_2:nth-child(8) {
    grid-row: span 2;
  }
}

@media (max-width: 412px) {
  .gallery_titles {
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .gallery_titles p {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

/* End Gallery---------------------- */

/* Start Quote---------------------- */

#quote {
  background: var(--quote-bg);
}

.quote_texts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.quote_text {
  position: relative;
  max-width: 772px;
}

.quote_text h1 {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.6px;

  color: var(--quote-text-color);
}

.quote_text p {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: 0.6px;
  text-align: right;
  color: var(--quote-text-color);
}

@media (max-width: 600px) {
  .quote_text h1 {
    font-size: 5.6vw;
    line-height: 38px;
  }

  .quote_text p {
    font-size: 2.9vw;
    line-height: 18px;
  }
}

/* End Quote---------------------- */

/* Start Video---------------------- */

#video {
  min-height: 1003px;
  position: relative;
  padding: 0 15px 0 15px;
  /* position: relative;
  display: inline-block; */
}

.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 800px;
  margin: 0 auto;
}

.video-thumbnail {
  width: 100%;
  height: 100%;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 100px;
  height: 60px; */
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@media (max-width: 1230px) {
  .video-container {
    width: 1020px;
    height: 700px;
  }
}

@media (max-width: 1100px) {
  .video-container {
    width: 95vw;
    height: 65vw;
  }
}

@media (max-width: 512px) {
  #video {
    min-height: 100vh;
  }
  .play-button svg {
    width: 40px;
    height: 40px;
  }
}

/* End Video---------------------- */

/* Start score---------------------- */

.score_body {
  min-height: 296px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-score-color);
  gap: 100px;
}

.scrore_number_tourists h1 {
  color: var(--scrore-number-tourists-text-color);

  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
}

.scrore_number_tourists p {
  color: var(--scrore-number-tourists-text-color);

  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

@property --num1 {
  syntax: "<integer>";
  initial-value: 450;
  inherits: false;
}

.score_title1 {
  animation: counter1 5s ease-in-out;
  counter-reset: num var(--num1);
}
.score_title1::after {
  content: counter(num);
}

.score_title1:hover {
  --num1: 450;
}

@keyframes counter1 {
  from {
    --num1: 0;
  }
  to {
    --num1: 450;
  }
}

@property --num2 {
  syntax: "<integer>";
  initial-value: 2500;
  inherits: false;
}

.score_title2 {
  animation: counter2 5s ease-in-out;
  counter-reset: num2 var(--num2);
}
.score_title2::after {
  content: counter(num2);
}

@keyframes counter2 {
  from {
    --num2: 0;
  }
  to {
    --num2: 2500;
  }
}

@property --num3 {
  syntax: "<integer>";
  initial-value: 10;
  inherits: false;
}

.score_title3 {
  animation: counter3 5s ease-in-out;
  counter-reset: num3 var(--num3);
}
.score_title3::after {
  content: counter(num3);
}

@keyframes counter3 {
  from {
    --num3: 0;
  }
  to {
    --num3: 10;
  }
}

@property --num4 {
  syntax: "<integer>";
  initial-value: 365;
  inherits: false;
}

.score_title4 {
  animation: counter4 5s ease-in-out;
  counter-reset: num4 var(--num4);
}
.score_title4::after {
  content: counter(num4);
}

@keyframes counter4 {
  from {
    --num4: 0;
  }
  to {
    --num4: 365;
  }
}

@media (max-width: 768px) {
  .score_body {
    gap: 80px;
  }

  .scrore_number_tourists h1 {
    font-size: 55px;
    line-height: 58px;
  }
}

@media (max-width: 678px) {
  .score_body {
    gap: 60px;
  }

  .scrore_number_tourists h1 {
    font-size: 52px;
    line-height: 54px;
  }
}

@media (max-width: 590px) {
  .score_body {
    gap: 40px;
  }

  .scrore_number_tourists {
    margin-bottom: 50px;
  }

  .scrore_number_tourists h1 {
    text-align: center;
    font-size: 50px;
    line-height: 52px;
  }

  .score_body {
    display: block;
  }
}


/* End score---------------------- */

/* Start Blog---------------------- */
#blog {
  /* min-height: 1285px; */
  position: relative;
}

.blog_body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 1280px;
}

.swiper {
  width: 100%;
  max-height: 800px;
  position: relative;
}

.swiper-slide {
  position: relative;
}

.swiper-slide .title {
  position: absolute;
  top: 50%;
  /* right: 0; */
  transform: translate(-105%, -50%);
}

.swiper-slide h1 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
}

.swiper-slide p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.swiper-slide {
  max-height: 800px !important;
}

@media (max-width: 1100px) {
  .swiper-slide h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .swiper-slide p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 912px) {
  .swiper-slide h1 {
    font-size: 4vw;
    line-height: 5vw;
  }

  .swiper-slide p {
    font-size: 1.6vw;
    line-height: 3vw;
  }

  .swiper-pagination-bullet {
    width: 1.5vw !important;
    height: 1.5vw !important;
  }
}

@media (max-width: 512px) {
  .blog_body {
    height: 100vh;
  }
}

/* End Blog---------------------- */

/* Start Team---------------------- */

/* #our_team{
  min-height: 987px;
} */

.team_body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 987px;
  max-width: 1200px;
  margin: 0 auto;
}

.our_team_title {
  margin-bottom: 0;
}
.team_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8vw;
}

.cards_card {
  margin-top: 20px;
  background-color: var(--bg-score-color);
  transition: all 0.5s ease-in-out;
}

.cards_card:hover {
  transform: scale(1.05);
  box-shadow: var(--card-box-shadow);
  background-color: var(--bg-color-cards-hover);
}

.cards_card img {
  width: 330px;
  height: 450px;
  margin-bottom: 25px;
}

.cards_card h3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: var(--our-command-color-text);
}

.cards_card p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--our-command-color-text);
  margin-top: 5px;
  margin-bottom: 10px;
}
.card_two {
  margin-top: 0px;
}

@media (max-width: 1220px) {
  .team_cards {
    gap: 4vw;
  }

  .cards_card img {
    max-width: 300px;
    /* height: auto; */
    margin-bottom: 25px;
  }
}

@media (max-width: 1100px) {
  .team_cards {
    gap: 3.5vw;
  }

  .cards_card img {
    max-width: 250px;
    height: 350px;
    margin-bottom: 25px;
  }
}

@media (max-width: 878px) {
  #our_team {
    padding: 40px 0 40px 0;
  }

  .our_team_title {
    margin-bottom: 45px;
  }
  .team_cards {
    flex-direction: column;
    gap: 35px;
  }
}

/* End Team---------------------- */
/* Start Services---------------------- */

#package_services {
  background-color: var(--services-bg-color);
}

.package_services_title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: var(--all-body-title);
  margin-bottom: 212px;

  text-align: center;
}

.body_package_services {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 1245px;
}

.services_package_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  padding: 0 10px 0 10px;
}

.package_services_card {
  max-width: 360px;
  min-height: 577px;
  padding: 45px 42px;
  background-color: var(--bg-cards-card-color);
  cursor: pointer;

  transition: all 0.5s ease-in-out;
}

.package_services_card:hover {
  transform: scale(1.05);
  box-shadow: var(--card-box-shadow);
  background-color: var(--bg-color-cards-hover);
}

.package_service_title_card {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  color: var(--home-title-color);
  text-align: center;
  margin-bottom: 58px;
}

.package_card_desc {
  margin-bottom: 137px;
}

.package_card_desc p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
   color: var(--home-title-color);
  margin-bottom: 20px;
}

.package_card_price {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
   color: var(--home-title-color);
}

.package_card_two_desc,
.package_card_desc_profes {
  margin-bottom: 60px;
}

@media (max-width: 1220px) {
  .services_package_cards {
    gap: 2vw;
  }
}

@media (max-width: 1100px) {
  .package_services_card {
    padding: 32px 32px;
  }

  .services_package_cards {
    gap: 3vw;
  }
}

@media (max-width: 912px) {
  .package_service_title_card {
    font-size: 32px;
  }
  .package_services_card {
    padding: 20px 20px;
  }
}

@media (max-width: 878px) {
  .body_package_services {
    padding: 60px 0 60px 0;
  }

  .package_services_title {
    margin-bottom: 45px;
    font-size: 40px;
  }
  .services_package_cards {
    flex-direction: column;
    gap: 35px;
  }

  .package_services_card {
    width: 360px;
    height: 577px;
    padding: 45px 42px;
  }

  .package_services_card:hover {
    transform: scale(1.01);
    box-shadow: var(--card-box-shadow);
  }
}

@media (max-width: 412px) {
  .package_services_card {
    width: 80vw;
    height: auto;
    padding: 28px 28px;
  }
}

@media (max-width: 393px) {
  .package_services_title {
    /* margin-bottom: 30px; */
    font-size: 28px;
    line-height: 32px;
  }
}

/* End Services---------------------- */

/* Start Map---------------------- */

.map_body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1040px;
}

@media (max-width: 540px) {
  .map_body {
    height: 100vh;
  }
}

/* End Map---------------------- */

/* Start Contact---------------------- */

#contact {
  min-height: 1182px;
  position: relative;
}

.contact_body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}

form {
  max-width: 570px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: start;
}

form input {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  width: 100%;
  height: 38px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #dadada;
  background-color: transparent;

  margin-bottom: 32px;
  color: #00b2a0;
  padding: 5px;
}

form input:focus {
  outline: none;
}

form input[type="tel"] {
  margin-bottom: 53px;
}

form textarea {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #dadada;
  resize: none;
  width: 100%;
  height: 156px;
  padding: 5px;
  color: #00b2a0;

  background-color: transparent;
}

form textarea:focus {
  outline: none;
}

.contact_block_right {
  width: 600px;
  height: auto;
  background: var(--contact-bg-color-right-block);

  padding: 49px 0 71px 52px;
}

.block_right_desc {
  margin-bottom: 65px;
  color: var(--contact-color-right-block);
}

.contat_socials {
  position: absolute;
  bottom: 30%;
}

.contat_socials ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  list-style: none;
}

.contat_socials ul > li a {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;

  text-decoration: none;
  color: var(--home-title-color);
  transition: all 0.5s ease-in-out;
}

.contat_socials ul > li a:hover {
  color: #00b2a0;
}

.inpt_name, .inpt_email, .inpt_message{
  width: 100%;
}

.error-message {
  color: red;
  /* margin-top: 8px; */
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 24px;
}

@media (max-width: 1100px) {
  .contact_block_right {
    width: 400px;
    padding: 49px 0 71px 30px;
  }
}

@media (max-width: 930px) {
  .contact_block_right {
    width: 500px;
    padding: 40px 0 65px 25px;
  }

  .contact_body {
    flex-wrap: wrap;
    gap: 60px;
    padding: 0 10px 0 10px;
  }

  .contat_socials {
    bottom: 3%;
  }
}

@media (max-width: 540px) {
  .contat_socials {
    bottom: 6%;
  }

  .gallery_btn_show_more, .gallery_btn_show_more_hidden
  {
    width: 100%;
  }
}


@media (max-width: 412px) {
  .contat_socials {
    bottom: 5%;
  }

  .contat_socials ul > li a {
    font-size: 6vw;
  }
}

/* End Contact---------------------- */

/* Start Footer---------------------- */

footer {
  background: var(--footer-bg);
}

.footer_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;

  cursor: pointer;
}

/* End Footer---------------------- */
